[Unit]
Description = Cart Service
[Service]
User=roboshop
Environment=REDIS_HOST=redis-dev.sowmyaraj.co.in
Environment=CATALOGUE_HOST=catalogue-dev.sowmyaraj.co.in
ExecStart=/bin/node /app/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target